.Characters {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Character-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #00b347;
    transition: 0.3s;
    margin: 15px;
    border-radius: 10px;
}

.Character-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Character-card-info {
    padding: 2px 16px;
}

.Arrow {
    width: 4rem;
    height: 4rem;
}

input {
    border-radius: 5px;
}

.header-title {
    font-size: x-large;
}

img {
    border-radius: 10px;
}
